/* **************************
SERVICE RULES
************************** */

body {
  color: white;
}
:root {
  --nav-color: #2b3e50;
  --hero-color: #1abc9c;
  --social-color: #3a546d;
  --portfolio-text-color: #2b3e50;
}
/* [class^="col"] {
  border: 2px solid white;
} */

/* **************************
RESET RULES
************************** */
ul,
li,
menu {
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}

/* **************************
LAYOUT
************************** */
.scb-navbar,
.scb-footer {
  background-color: var(--nav-color);
}
.scb-hero,
.scb-about {
  background-color: var(--hero-color);
}
.sbc-portfolio,
.scb-contact {
  background-color: white;
}
.sbc-info {
  background-color: var(--social-color);
}
/* **************************
NAV BAR
************************** */
.scb-title {
  font-size: 1rem;
  height: 100%;
  font-weight: 700;
}
.scb-hamburger {
  color: #888888;
  cursor: pointer;
  margin-right: auto;
}
.scb-hamburger i {
  padding: 0.5rem;
  border: 2px solid grey;
}

.scb-nav-extended {
  display: none;
  transition: ease-in;
}
/* **************************
HERO
************************** */
.scb-avatar-h2,
.scb-portfolio-h2 {
  font-size: 2.5rem;
}
.scb-avatar {
  max-width: 35%;
}
.scb-star {
  display: inline-block;
  position: relative;
  font-size: 25px;
}
.scb-star::before {
  content: "";
  position: absolute;
  background-color: currentColor;
  width: 350%;
  height: 3px;
  bottom: 30px;
  left: 35px;
  border-radius: 999px;
}
.scb-star::after {
  content: "";
  position: absolute;
  background-color: currentColor;
  width: 350%;
  height: 3px;
  top: 15px;
  right: 35px;
  border-radius: 999px;
}

/* **************************
PORTFOLIO
************************** */
.sbc-portfolio {
  color: var(--portfolio-text-color);
}

/* **************************
SOCIAL
************************** */
.scb-social {
  font-size: 1.5rem;
}

/* **************************
FOOTER
************************** */

.scb-sub-text-footer {
  display: block;
  text-transform: none;
}
.scb-color {
  color: #1abc9c;
}
