@media screen and (min-width: 768px) {
  .scb-hamburger {
    display: none;
  }

  .scb-nav-extended {
    display: block;
    transition: ease-in;
  }
  .scb-nav-extended ul {
    display: flex;
    font-weight: 700;
  }
  .scb-nav-extended li {
    padding: 1rem;
    display: inline-block;
  }
}
/* **************************
AVATAR
************************** */
